{{!--
Partial: Tout les produits de la page blog
--}}

<produits>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="texte">Nos véhicules en ventes</h2>
            </div>
            <label class="txt-color-black">
                <i class="fas fa-sort"></i>
                Trier par :
                <select onchange="getValue()" id="monSelecteur" class="form-select-sm txt-color-black">
                    <option>Plus récent</option>
                    <option value="croissant">Prix : croissant</option>
                    <option value="décroissant">Prix : décroissant</option>
                </select>
            </label>
        </div>
        <div id="voitures" class="product row pb-3 justify-content-center">
            {{#if recherche_false}}
            <p style="color:#000!important;">Ce modèle de voiture n'existe pas<br>Essayer de faire une recherche plus
                complète </p>
            <div class="loader d-flex justify-content-center">
                <svg class=" car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(2 1)" stroke="#002742" fill="none" fill-rule="evenodd"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path class="car__body"
                            d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                            stroke-width="3" />
                        <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25"
                            rx="6.922" ry="6.808" />
                        <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25"
                            rx="6.922" ry="6.808" />
                        <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
                        <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
                        <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
                    </g>
                </svg>
            </div>
            {{else}}
            {{#each voiture}}
            <div id="voiture-{{this.id}}" class="col-12 col-md-6 col-lg-4">
                <div class="product-item">
                    <div class="voiture-card">
                        <a href="/blog/{{this.id_Article}}">
                            <div style="background-image: url('/assets/img/Voitures-Img/{{this.img_url }}');"
                                class="sameImg">
                                <p style="height: 250px;"></p>
                            </div>
                        </a>
                    </div>
                    <h3>{{ this.make }} {{ this.model }}</h3>
                    <p>Prix: {{ this.price }}€</p>
                    {{!-- <p>{{ this.id }}</p> --}}
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
        {{#if page_disable}}
        {{else}}
        <nav aria-label="Page navigation example">
            <ul class="justify-content-center pagination">
                {{#iffpage page.current 1}}
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{page.previous}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{/iffpage}}

                {{#iffpage page.current 1}}
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{page.previous}}">{{page.previous}}</a>
                </li>
                {{/iffpage}}

                <li class="page-item active"><a class="page-link" href="?page={{page.current}}">{{page.current}}</a>
                </li>

                {{#iffpage page.next undefined}}
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{page.next}}">{{page.next}}</a></li>
                {{/iffpage}}

                {{#iffpage page.next undefined}}
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{page.next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {{/iffpage}}
            </ul>
        </nav>
        {{/if}}
    </div>
</produits>