{{!--
Partial: Tout les produits de la page blog
--}}

<produits>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="texte">Nos véhicules en ventes</h2>
            </div>
            <label class="txt-color-black">
                <i class="fas fa-sort"></i>
                Trier par :
                <select class="form-select-sm txt-color-black">
                    <option>Plus récent</option>
                    <option>Prix : croissant</option>
                    <option>Prix : décroissant</option>
                </select>
            </label>
        </div>
        <div id="voitures" class="product row pb-3 justify-content-center">
            {{#each voiture}}
            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <a href="blog/{{this.id}}">
                        <img src="{{this.img_url}}">
                    </a>
                    <h3>{{ this.make }} {{ this.model }}</h3>
                    <p>Plus récent</p>
                    <p>{{ this.id }}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</produits>