{{!--
Partial: Tabs Admin
--}}
<div class="container pt-6">
    <div class="row">
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist"
            aria-owns="pills-user-tab pills-page-tab pills-com-tab">
            <li role="tab" class="nav-item" role="user">
                <button class="nav-link2 active" id="pills-user-tab" data-bs-toggle="pill" data-bs-target="#pills-user"
                    type="button" role="tab" aria-controls="pills-user" aria-selected="true">Utilisateurs</button>
            </li>
            <li role="tab" class="nav-item" role="page">
                <button class="nav-link2" id="pills-page-tab" data-bs-toggle="pill" data-bs-target="#pills-page"
                    type="button" role="tab" aria-controls="pills-page" aria-selected="false">Blog</button>
            </li>
            <li role="tab" class="nav-item" role="com">
                <button class="nav-link2" id="pills-com-tab" data-bs-toggle="pill" data-bs-target="#pills-com"
                    type="button" role="tab" aria-controls="pills-com" aria-selected="false">Messages</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!--User--->
            <div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-home-tab">
                <section class="container adminimg pb-5" id="user">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Utilisateurs</h2>
                        </div>
                    </div>
                    <div class="boxAdmin col txt-color-black">
                        {{#each users}}
                        <div class="d-flex align-items-center text-center py-3">
                            <div class="col-4">
                                <img alt="{{ this.avatar_url }}" src="/assets/img/img-user/{{this.avatar_url}}">
                            </div>
                            <div class="col-4">
                                <p>Pseudo : {{ this.pseudo }}</p>
                            </div>
                            <div class="col-4">
                                {{#if this.is_ban }}
                                <a><i class="fas fa-balance-scale-left" data-bs-toggle="modal"
                                        data-bs-target="#modalBan{{ this.id_user }}"></i></a>
                                {{else }}
                                <a><i class="fas fa-gavel" data-bs-toggle="modal"
                                        data-bs-target="#modalBan{{ this.id_user }}"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        {{> modals/modalBan }}
                        {{/each}}
                    </div>
                </section>
            </div>
            <!--Blog--->
            <div class="tab-pane fade pb-4" id="pills-page" role="tabpanel" aria-labelledby="pills-profile-tab">
                <section class="container adminimg pb-5" id="blog">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Blog</h2>
                        </div>
                    </div>
                    <div class="boxAdmin col txt-color-black">
                        {{#each voiture}}
                        <div class="d-flex align-items-center text-center py-3">
                            <div class="col-4">
                                <a href="/blog/{{this.id_Article}}">
                                    <img alt="{{ this.img_url }}" class=" col-md-4"
                                        src="/assets/img/Voitures-Img/{{this.img_url}}">
                                </a>
                            </div>
                            <div class="col-4">
                                <p>Article : {{ this.make }} {{ this.model }}<br>De : {{this.pseudo}}</p>
                            </div>
                            <div class="col-4">
                                <a><i class="fas fa-pencil-ruler pe-3" data-bs-toggle="modal"
                                        data-bs-target="#editBlog{{ this.id_Article }}"></i></a>
                                <a><i class="fas fa-trash-alt" data-bs-toggle="modal"
                                        data-bs-target="#deleteBlog{{ this.id_Article }}"></i></a>
                            </div>
                        </div>
                        {{> modals/modalDeleteBlog data="/admin"}}
                        {{> modals/modalEditBlog data="/admin"}}
                        {{/each}}
                    </div>
                </section>
            </div>
            <!--Messages-->
            <div class="tab-pane fade" id="pills-com" role="tabpanel" aria-labelledby="pills-contact-tab">
                <section class="container adminimg pb-5" id="com">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Messages</h2>
                        </div>
                    </div>
                    {{#if message}}
                    <div class="boxAdmin col txt-color-black">
                        {{#each message}}
                        <div class="d-flex align-items-center text-center py-3">
                            <div class="col-6">
                                <p>Message de : {{ this.name }} <br>{{ this.service }}</p>
                            </div>
                            <div class="col-6">
                                <a><i class="far fa-comment" data-bs-toggle="modal" data-bs-target="#ModalReponse"></i></a>
                            </div>
                        </div>
                        {{> modals/modalReponse }}
                        {{/each}}
                    </div>
                    {{else }}
                    <div class="boxAdmin col txt-color-black">
                        <div class="my-3">
                            <p class="text-center">Vous n'avez pas de message ! :(</p>
                        </div>
                    </div>
                    {{/if}}
                </section>
            </div>
        </div>
    </div>
</div>